body{
    background-image: url("../Design/bg pic.jpg");
}

.centerText{
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    font-size: 65px;
}

h2 {
    font-family: "Georgia", serif;
    font-weight: normal;
    font-size: 25px;
}

p {
    font-family: "Times New Roman", serif;
    font-size: 30px;
    font-weight: bold;
    color: #15416e;
    margin-bottom: 10px;
}

nav {
    background-color: #a3a2a2;
    height: 100px;
}

nav ul {
    list-style: none;
    float:right;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo{
    float:left;
}
nav li {
    margin: 0 20px;
}

nav li a {
    font-size: 20px;
    display: block;
    padding: 20px;
    color: #171616;
    font-weight: bold;
    text-decoration: none;
}

nav li a:hover {
    background-color: #9a9797;
}

#showEmpForm, #showDeptForm, #showLedgerForm {
    background-color: #ffffff;
    color: #fff;
    margin: 20px 150px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
}

#addEmpForm, #updEmpForm, #addDeptForm, #updDeptForm, #addLedgerForm {
    display: none;
    background-color: #ffffff;
    color: #fff;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.emp-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

#updEmpForm button[type="submit"], #addEmpForm button[type="submit"], #updDeptForm button[type="submit"],
#addDeptForm button[type="submit"], #addLedgerForm button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    width: 100%;
    max-width: 200px;
}

#updEmpForm button[type="submit"]:hover, #addEmpForm button[type="submit"]:hover,
#updDeptForm button[type="submit"]:hover, #addDeptForm button[type="submit"]:hover, #addLedgerForm button[type="submit"]:hover {
    background-color: #0062cc;
}

.formContents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
    color: #15416e;
}

input[type="text"] {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    color: #000000;
    background-color: #f0f0f0;
}

select {
    padding: 8px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #000000;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

option {
    background-color: #f0f0f0;
    color: #000000;
    font-size: 14px;
}

button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.employeeBtn, .deptBtn, .ledgerBtn {
    padding: 10px 20px;
    margin-bottom: 5px;
    background-color: #15416e;
    color: white;
    border-radius: 10px;
}

.employeeBack, .deptBack, .ledgerBack {
    padding: 10px 20px;
    background-color: #4CAF50;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    width: 100%;
    max-width: 200px;
}

.employeeBack:hover, .deptBack:hover, .ledgerBack:hover {
    background-color: #c7c3c3;
}

.formContents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContents label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.formContents input[type="text"] {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.formContents button[type="submit"] {
    margin-top: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    color: #212529;
    border: 1px solid #a6a3a3;
}

th {
    padding: 8px;
    text-align: left;
    font-family: "Times New Roman", serif;
    background-color: #dde8f5;
    color: #15416e;
    font-size: 20px;
    border-radius: 3px;
}

table tr{
    border-top: 1px solid #a6a3a3;
    border-bottom: 1px solid #a6a3a3;
    padding: 8px;
    text-align: left;
}

td {
    font-family: "Verdana", serif;
    padding: 6px;
    text-align: left;
    background-color: #ffffff;
    color: black;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.table-btn {
    background-color: rgba(173, 170, 170, 0.67);
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.table-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

input[type="date"] {
    background-color: #555;
    color: #fff;
    height: 27px;
    border: none;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 10%;
    border: 2px solid #ccc;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    outline: none;
}

input[type="radio"]:checked {
    background-color: #797979;
    border-color: #251919;
}

input[type="radio"]:focus {
    box-shadow: 0 0 5px #dcb2b2;
}

.debtCredOption {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}