body{
    background-image: url("../Design/bg pic.jpg");
}

.centerText{
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    font-size: 65px;
}

h2 {
    font-family: "Georgia", serif;
    font-weight: normal;
    font-size: 25px;
}

p {
    font-family: "Times New Roman", serif;
    font-size: 30px;
    font-weight: bold;
    color: #efeaea;
    margin-bottom: 30px;
}

nav {
    background-color: #b48e92;
    height: 100px;
}

nav ul {
    list-style: none;
    float:right;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo{
    float:left;
}
nav li {
    margin: 0 20px;
}

nav li a {
    font-size: 20px;
    display: block;
    padding: 20px;
    color: #171616;
    font-weight: bold;
    text-decoration: none;
}

nav li a:hover {
    background-color: #dcb2b2;
}


#showEmpForm, #addEmpForm, #updEmpForm, #showDeptForm, #addDeptForm, #updDeptForm, #showLedgerForm, #addLedgerForm {
    display: none;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: none;
    background-color: #555;
    color: #fff;
    width: 300px;
    box-sizing: border-box;
}

select {
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: none;
    background-color: #555;
    color: #fff;
    width: 150px;
    box-sizing: border-box;
}

option {
    background-color: #555;
    color: #fff;
}

button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.employeeBack, .deptBack, .ledgerBack {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

p.select-employee {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table.no-style {
    border: none;
    width: 150px;
}

th, td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
}

th {
    font-family: "Times New Roman", serif;
    background-color: #333;
    color: #fff;
    font-size: 20px;
}

td {
    font-family: "Verdana", serif;
}

table, th, tr, td:hover{
    background-color: #555555;
}
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.table-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.table-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

input[type="date"] {
    background-color: #555;
    color: #fff;
    height: 27px;
    border: none;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 10%;
    border: 2px solid #ccc;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    outline: none;
}

input[type="radio"]:checked {
    background-color: #797979;
    border-color: #251919;
}

input[type="radio"]:focus {
    box-shadow: 0 0 5px #dcb2b2;
}

.debtCredOption {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}